= form_tag '/receipt', class: 'form-horizontal', id: 'pd4_form'
.well.form_div
  .control-group.info
    %label.control-label{:for => "name"} Фамилия Имя Отчество
    = text_field_tag 'name'
    %span.help-inline Например: Иванов Иван Иванович
  .control-group.info
    %label.control-label{:for => "bdate"} Дата рождения
    = text_field_tag 'bdate'
    %span.help-inline Например: 01.01.1991
  .control-group.info
    %label.control-label{:for => "passp"} Паспорт: серия номер
    = text_field_tag 'passp'
    %span.help-inline Например: 1234 567890
  .control-group.info
    %label.control-label{:for => "address"} Адрес
    = text_field_tag 'address'
    %span.help-inline Например: Москва, Ленинский пр-т 1-1-1
  .control-group.info
    %label.control-label{:for => "citizen"} Гражданство
    = text_field_tag 'citizen'
    %span.help-inline Например: РФ
  .control-group.info
    %label.control-label{:for => "amount"} Сумма пожертвования в рублях
    = text_field_tag 'amount'
    %span.help-inline Например: 1000
  %button#btn-make.btn.btn-primary.make-receipt.icon-file Сформировать квитанцию
