!!!
%html
  %head
    %title Donate
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = current_user ? link_to("Выйти", "/logout") : link_to("Войти", "/auth/volunteeria")
    = yield